.grid-view {
	overflow: hidden;
	margin: 10px;
}
.grid-view__card {
	float: left;
	width: 150px;
	border: solid 1px #ccc;
	margin: 0 10px 10px 0;
	text-align: center;
	border-radius: 4px;
	background-color: #fff;
	transition: background-color 0.3s;
	box-shadow:rgba(0,0,0,.1) 0 2px 5px;
}
.grid-view__card:hover {
	background-color: rgba(201, 233, 239, 0.3);
}
.grid-view__card h1 {
	font-size: 12pt;
	font-weight: bold;
	margin: 10px 11px;
}
.grid-view__card.add-new-user {
	background-color: rgba(64, 136, 255, 0.3);
	height: 242px;
	cursor:pointer;
	transition: background-color 300ms linear;
}
.grid-view__card.add-new-user:hover {
	background-color: rgba(64, 136, 255, 0.52);
}
.grid-view__card.add-new-user img {
	background-image: none;
}
.card__avatar img {
	width: 128px;
	height: 128px;
	background-image: url(https://www.vbcvit.com/upload/img/user.png);
	background-size: contain;
}
.card__department {
	margin: 5px 11px;
}
.card__department--unmanaged {
	font-weight: bold;
}
.card__phone, .card__dob, .card__access-rights {
	margin: 3px 11px;
}
.card__access-rights {
	position: relative;
	color: #1940a1;
}
.card__access-rights ul {
	position: absolute;
	background: #fff;
	margin: 0;
	padding: 0;
	list-style: none;
	left: 5px;
	overflow: auto;
	height: 0;
	bottom: 0;
	left: 2px;
	right: 2px;
}
.card__access-rights:hover ul {
	height: auto;
	box-shadow: 0 0 2px #00f;
}
.grid-view__card .grid-view__card-editor {
	margin: 0 5px 5px 0;
}
.grid-view__card .grid-view__card-editor a {
	font-size: 9pt;
	margin: 0 2px 0 2px;
}
.ellipses {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap; 
}