.grid-view {
	overflow: hidden;
	margin: 10px;
}
.grid-view__card {
	float: left;
	width: 150px;
	height: 230px;
	border: solid 1px #ccc;
	margin: 0 10px 10px 0;
	text-align: center;
	border-radius: 4px;
	background-color: #fff;
	transition: background-color 0.3s;
	box-shadow:rgba(0,0,0,.1) 0 2px 5px;
}
.grid-view__card:hover {
	background-color: rgba(201, 233, 239, 0.3);
}
.grid-view__card h1 {
	font-size: 12pt;
	font-weight: bold;
	margin: 10px 11px;
}
.card__avatar img {
	width: 128px;
	height: 128px;
}
.card__department {
	margin: 5px 11px;
}
.card__department--unmanaged {
	font-weight: bold;
}
.card__phone {
	margin: 3px 11px;
}
.ellipses {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap; 
}