.home {
	margin: 10px;
	font-size: 15pt;
}
.home button, 
.home input {
	vertical-align: middle;
	font-size: 15pt;
}
.component {
	clear: both;
}
.component button {
	float: right;
	line-height: 25px;
}
.component .input-wrapper {
	overflow: hidden;
	padding-right: 15px;
}
.component .input-wrapper input[type='text'] {
	width: 100%;
	line-height: 25px;
}
.component .input-wrapper label {
	display: block;
}