.sort-select {
	border: solid 1px #ccc;
	display: inline-block;
	height: 21px;
}
.sort-select .sort-select__dir {
	vertical-align: middle;
	display: inline-block;
	width: 0; 
	height: 0;
	margin-left: 5px; 
}
.sort-select .sort-select__dir--up {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 11px solid #f0f;
}
.sort-select .sort-select__dir--down {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 11px solid #f0f;
}
.sort-select .sort-select__select {
	border: none;
	outline: none;
	vertical-align: middle;
	position: relative;
	right: -1px;
	background-color: transparent;
}