<div class="home">
	<h1>RTL Playground</h1>
	<p>
		This is a task for RTL and LTR support and knowledge of the CSS box-model. 
	</p>
	<p>
		<label>
			You can change button caption with this input: 
			<input type="text" ng-model="buttonCaption" />
		</label>
		<br />
		<label>
			You can switch RTL mode by checking this box:
			<input type="checkbox" ng-model="rtl" ng-change="dirChange();" />
		</label>
	</p>
	<div class="component">
		<button>{{buttonCaption}}</button>
		<div class="input-wrapper">
			<input type="text" />
			<label>Example:8896ec04-ae8f-469d-b45d-8b454d825832</label>
		</div>
	</div>
</div>