<div class="grid-view" ng-click="grid.handleClick($event)">
	<div class="grid-view__card add-new-user" ng-click="grid.createUser()">
		<h1 class="ellipses">&nbsp;</h1>
		<section class="card__avatar">
			<img src="https://cdn4.iconfinder.com/data/icons/social-communication/142/add_user-512.png" />
		</section>
	</div>
	<div class="grid-view__card" 
		ng-repeat="user in users | filter:filter | orderBy:direction+'name' track by user.id"
		ng-switch on="user.type">
		<div>
			<user ng-switch-when="User" model="user" />
			<manager ng-switch-when="Manager" model="user" />
			<div class="grid-view__card-editor">
				<a href="#!/user/edit/{{user.id}}">edit</a><a href="#delete" data-cmd="delete" data-id="{{user.id}}">delete</a>
			</div>
		</div>
	</div>
</div>