<div>
    <h1 title="{{model.name}}" class="ellipses" ng-bind-html="model.name"></h1>
    <section class="card__avatar" title="{{model.name}}">
        <img ng-src="{{model.picture}}" />
    </section>
    <section class="card__phone ellipses">Manager</section>
    <section class="card__access-rights">
        <span>Access Rights</span>
        <ul ng-if="model.rights.length > 0">
            <li ng-repeat="right in model.rights | orderBy:'+name' track by right.id">{{right.name}}</li>
        </ul>
        <ul ng-if="!model.rights.length">
            <li>No rights available</li>
        </ul>
    </section>
</div>